# Read airtable sections

In [1]:
from airhockey.read import query

## "Soft" Queries 
Queries from `FlyGenotype` or `Stocks` (i.e. any class whose Parent is `GenotypeTables`):
- Will pull any entry where the values contains the search criteria (as opposed to having to match it exactly).
- Are case sensitive

In [14]:
query.FlyGenotype(chr1='w',chr2='If')

,genotype_id,chr1,chr2,chr3,chr4,public_ids,tags,comments,Stocks,date_modified
0,1873,y-w-,If/ CyO,VT014329-GAL4.DBD/ TM6B,None,"[""bl74864""]","[""mbon27"", ""dbd""]",Made from bl74864,[rec2qsWhJ6H4LbvfJ],2023-11-16
1,1870,y-w-,If/ CyO,VT057277-GAL4.DBD/ TM6B,None,None,"[""mbon27"", ""dbd""]",Made from bl71854,[reckuOQida77UM9ga],2023-11-16

In [15]:
query.FlyGenotype(chr1='w',chr2='IF') #Demonstrating case-sensitivity

,genotype_id,chr1,chr2,chr3,chr4,public_ids,tags,comments,Stocks,date_modified,FlySubject
0,581,w ;,IF/CYO;,R32E04-GAL4/Pr,None,None,"[""dm9""]",None,[recDeAEyhMACTfRvx],2023-11-16,NaN
1,22,w+;,IF/CYO;,Bsh-GAL4/TM2,None,None,"[""mi1"", ""l4"", ""l5""]",None,[rec22gqZnfQ0LrgTM],2023-11-16,NaN
2,826,"w+, norpA-;",IF/Cyo;,Tm2/Tm6B;,None,None,None,None,[recoICsz3PtfqTNZZ],2023-11-16,NaN
3,616,w+;,IF/CYO;,ort-/TM6B,None,None,None,None,[recHj1zIRQGY1eKwP],2023-11-16,NaN
4,2,y-w-;,IF/CYO;,VT405472-GAL4/TM2,None,"[""VDRC200265"", ""VT405472""]","[""l4""]",None,[recvIFcTk3kK4AJv5],2023-11-16,[recXcZiouk5hb0zbQ]
...,...,...,...,...,...,...,...,...,...,...,...
61,21,y-w-;,IF/CYO;,Otd-LexA/TM2,None,None,"[""tm2"", ""photoreceptors""]",None,[recu2x9FIX1oee0vP],2023-11-16,NaN
62,117,y-w-;,IF/CYO;,R74G01-Gal4/TM2,None,"[""BL39869"", ""R74G01""]","[""tm1""]",None,[recmYx8CqzflWuReS],2023-11-16,NaN
63,496,w+;,IF/CYO;,R38H06-Gal4/TM2,None,None,"[""dm6""]",None,NaN,2023-11-16,NaN
64,556,yw-;,IF/CYO;,UAS-CD8 GFP/TM2,None,None,None,None,NaN,2023-11-16,NaN
65,871,w+;,IF/Cyo;,LexAop-GCaMP6f/Tm6B;,None,None,None,None,[rec7k44MF0O6oixP9],2023-11-16,NaN

In [18]:
query.Stocks(genotype_id=581)

  stock_id genotype_id
0     s401         581

## "Hard" Queries 
Queries made using `TwoPhotonRecording`, or `FlySubject` 
- Searches for exact matches
- Are case sensitive

In [12]:
query.TwoPhotonRecording()

,subject_id,recording_id,recording_file_id,recording_type,recording_solution,recording_time,completed,tags,dict,comments,neuron_section,brain_area,linescan
0,2501,12532,8715,tseries,saline,2020-08-13T23:14:00.000Z,True,None,None,gamma 5 both sides,soma,mushroom_body,True
1,1307,8686,5666,tseries,saline,2019-04-17T18:57:00.000Z,True,None,"{""protocol"": ""spectra_dawn1v2_log"", ""quality"":...",much darker baseline than with dark background...,multiple_sections,ventral_twothirds,NaN
2,2425,12209,8095,tseries,saline,2020-01-31T16:07:00.000Z,True,None,"{""protocol"": ""flat_new1_v3_long"", ""quality"": ""...",None,axon_terminals,aotu,NaN
3,4150,34756,4836,tseries,saline,2022-01-25T19:47:00.000Z,True,None,None,None,None,None,True
4,2675,13492,1624,tseries,saline,2020-11-25T16:54:00.000Z,True,"[""explore"", ""minimal"", ""cloudy"", ""2""]",None,"z = 8, pockels 31, pmts 850 (trying that out),...",soma,mushroom_body,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10401,2601,13114,9339,tseries,saline,2020-10-09T14:51:00.000Z,True,"[""dawnlikecloudy"", ""4"", ""pcrand""]",None,None,axon_terminals,ventral_twothirds,True
10402,3464,22156,4062,tseries,saline_serotonin,2021-07-20T20:00:00.000Z,True,"[""diff"", ""1background"", ""dawnearlier""]",None,None,axons,medulla,True
10403,2553,12795,9000,tseries,saline,2020-09-15T22:18:00.000Z,True,None,None,i've been following that big ploof down and to...,axons,mushroom_body,True
10404,2804,14340,2505,tseries,saline,2021-02-17T18:23:00.000Z,NaN,"[""diff"", ""1background"", ""dawnearlier""]",None,noorange,axons,ventral_twothirds,True
10405,2298,11592,6747,tseries,saline,2019-06-06T16:34:00.000Z,True,None,"{""protocol"": ""blue_addition3"", ""quality"": ""good""}",None,axon_terminals,ventral_twothirds,NaN

In [13]:
query.FlySubject()

,subject_id,genotype_id,subject_name,experimenter,rearing_method,sex,age,prep_time
0,2816,518,SLH210222#000,sarahlheath,at25c,F,2.0,2021-02-22T14:28:00.000Z
1,2498,686,None,maiaweisenhaus,None,F,3.0,2020-08-12T22:12:00.000Z
2,3570,1214,None,apliu94,None,F,4.0,2021-08-31T21:50:00.000Z
3,5101,2005,None,alvarosd,None,M,NaN,2022-10-11T19:53:00.000Z
4,2827,830,None,alvarosd,None,F,3.0,2021-02-25T17:56:00.000Z
...,...,...,...,...,...,...,...,...
2793,4025,1428,None,alvarosd,None,F,3.0,2021-12-14T18:33:00.000Z
2794,2531,741,None,maiaweisenhaus,None,M,5.0,2020-08-26T21:20:00.000Z
2795,3212,1191,None,alvarosd,None,F,3.0,2021-06-22T18:51:00.000Z
2796,1383,741,MXW190911#002,maiaweisenhaus,None,M,3.0,2019-09-11T20:41:00.000Z
2797,3284,1234,None,sharonjsu,None,F,5.0,2021-06-30T13:20:00.000Z

In [4]:
query.FlySubject(subject_id = 2501)

,subject_id,genotype_id,subject_name,experimenter,rearing_method,sex,age,prep_time
0,2501,686,None,maiaweisenhaus,None,M,4,2020-08-13T23:01:00.000Z

In [11]:
query.TwoPhotonRecording(subject_id = 2501)

{'subject_id (from subject_id)': 2501}

,subject_id,recording_id,recording_file_id,recording_type,recording_solution,recording_time,completed,tags,dict,comments,neuron_section,brain_area,linescan
0,2501,12532,8715,tseries,saline,2020-08-13T23:14:00.000Z,True,None,None,gamma 5 both sides,soma,mushroom_body,True
1,2501,12530,8713,tseries,saline,2020-08-13T23:14:00.000Z,True,None,None,gamma 5,soma,mushroom_body,True
2,2501,12533,8716,tseries,saline,2020-08-13T23:14:00.000Z,True,None,None,gamma 5 both sides,soma,mushroom_body,True
3,2501,12531,8714,tseries,saline,2020-08-13T23:14:00.000Z,True,None,None,gamma 5,soma,mushroom_body,True